<!DOCTYPE html>
<html>
<% include head.ejs %>      <!--Include head section (same for all pages)-->
<!--Javascripts includes-->
<script src='/javascripts/alert.js' type='text/javascript' ></script>
<script src='/javascripts/sorttable.js' type='text/javascript'></script>

<body>
<div id="alerts"></div>
<div id="page" class=page>      <!--Div page with id=page - main container-->
    <div>
        <ul>
            <h1><%= title %></h1>
            <h2>zespoły które biorą udział w rozgrywkach</h2>
            <table class="sortable table">
                <tr>
                    <th>nazwa drużyny</th>
                </tr>
                <% args.map((element)=>{%>
                    <tr>
                        <td><a href=/team_matches/<%= element.id_druzyny %> class="link"><%= element.nazwa_druzyny %></a></td>
                    </tr>
                <%}) %>

            </table>
        </ul>
    </div>

</div>
<% include header.ejs %>      <!--Include header (top menu logo etc)-->
<% include footer.ejs %>      <!--Include footer-->
</body>
</html>
