<!DOCTYPE html>
<html>

<% include head.ejs %>
<!--Include head section (same for all pages)-->
<!--Javascripts includes-->

<script src='/javascripts/alert.js' type='text/javascript'></script>

<!--Inline Javascript-->
<script>
    function validateForm() {
        var err = "";
        if(document.getElementsByName("team1")[0].value === document.getElementsByName("team2")[0].value)
            err += "Drużyny nie mogą być te same";

        if(document.getElementsByName("date")[0].value === '')
            err += "Podaj datę";

        if(document.getElementsByName("time")[0].value === '')
            err += "Podaj godzinę, np 12:00:AM";

        if(err == "") return true;
        else
        {
            AlertError('Błąd!',err);
            return false;
        }
    }
</script>

<body>
<div id="alerts"></div>
<td id="page" class=page style="overflow: hidden;">      <!--Div page with id=page - main container-->
    <h1><%= title %></h1>

    <form method="POST" action="/match/add" onsubmit="return validateForm();">
        <table>
            <tr>
                <td>Drużyna I </td>
                <td><select id="title" name="team1">
                        <% for(var i = 0; i < teams.length; i++) { %>
                            <option ><%= teams[i].nazwa_druzyny%></option>
                        <% } %>
                    </select></td>
            </tr>
            <tr>
                <td>Drużyna II </td>
                <td><select id="title" name="team2">
                        <% for(var i = 0; i < teams.length; i++) { %>
                            <option><%= teams[i].nazwa_druzyny%></option>
                        <% } %>
                    </select></td>
            </tr>
            <tr>
                <td>Data</td>
                <td><input id="beginDate" type="date" name="date" required></td>
            </tr>
            <tr>
                <td>Czas</td>
                <td><input id="match_time" type="time" name="time"></td>
            </tr>

        </table>
        <br>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
    <% include header.ejs %>
    <% include footer.ejs %>
</body>
</html>
