<!DOCTYPE html>
<html>
<% include head.ejs %>
<!--Include head section (same for all pages)-->
<!--Javascripts includes-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

<script src='/javascripts/alert.js' type='text/javascript'></script>

<!--Inline Javascript-->
<script>
    function validateForm() {
        return true;
    }
</script>

<body>
<div id="alerts"></div>
<div id="page" class=page style="overflow: hidden;">      <!--Div page with id=page - main container-->
    <h1><%= title %></h1>

    <form method="POST" action="/match/add" onsubmit="return validateForm();">

        <div class="row">
            <form class="col s12">

                <div class="row">
                    <div class="input-field col s6">
                        <input id="title" type="text" name="team1" class="validate" required>
                        <label for="title">Drużyna I</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="title" type="text" name="team2" class="validate" required>
                        <label for="title">Drużyna II</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <label></label>
                        <input id="beginDate" type="date" name="date" class="datepicker" required>

                    </div>
                    <div class="input-field col s6">
                        <label for="match_time"></label>
                        <input id="match_time" type="time" name="time" class="datepicker" required>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <input id="league" name="league" type="text" class="validate">
                        <label for="league">Liga</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="place" name="place" type="text" class="validate">
                        <label for="place">Lokal</label>
                    </div>
                </div>
                <div style="text-align:center">
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </div>
            </form>
        </div>
    </form>
</div>
<% include header.ejs %>
<!--Include header (top menu logo etc)-->
<% include footer.ejs %>
<!--Include footer-->
</body>
</html>