<!DOCTYPE html>
<div id="container" class=footer>
      Copyright &#169; Football Matches
      <br />
      Kontakt: <a class=link href="mailto:zabiera@tlen.pl?Subject=Kontakt" tabindex="100">zabiera@tlen.pl</a>
</div>
