<!DOCTYPE html>
<div class=header>
    <div class=topLeft>
        logo strony
    </div>
    <div class=topRight>
        guziki logowanie/wylogowanie/ustawienia konta
    </div>
    <div class=topBar>      <!--This should configure itself dependent of options and views-->
        <% if(page=="index"){ %>
            <a class=
                <% if(title=="Express"){ %>
                    menu_s
                <% } else{ %>
                    menu
                <% } %> href="/" tabindex="1">test link</a><a class=
                <% if(title=="Express1"){ %>
                    menu_s
                <% } else{ %>
                    menu
                <% } %> href="/exp1" tabindex="2">test link</a><a class=
                <% if(title=="!Express"){ %>
                    menu_s
                <% } else{ %>
                    menu
                <% } %> href="/" tabindex="3">test link</a>
        <% } %>
    </div>
</div>
