<!DOCTYPE html>
<html>
    <% include head.ejs %>      <!--Include head section (same for all pages)-->
    <!--Javascripts includes-->
    <script src='/javascripts/alert.js' type='text/javascript' ></script>
    <script src='/javascripts/error_messages.js' type='text/javascript' ></script>
    
    <!--Inline Javascript-->
    <script>
        function validateForm() 
        {
            var err = "";
            if(document.getElementsByName("email")[0].value === "")
                err += "Podaj email. ";

            if(document.getElementsByName("password")[0].value === "")
                err += "Podaj hasło. ";

            if(err == "") return true;
            else 
            {
                AlertError('Błąd!',err);
                return false;
            }
        }
        function getMessages()
        {
            var msg = "<%= (!!locals.msg)?msg:'' %>";
            var type = "<%= (!!locals.type)?type:'' %>";
            if(msg != '')
            {
                if(type == 'ERROR') AlertError("Błąd!", msg);
                else if(type == 'SUCCESS') AlertSuccess("Sukces", msg);
            }
        }
    </script>
    
    <body onLoad='getMessages()'>
    <div id="alerts"></div>
        <div id="page" class=page style="overflow: hidden;">      <!--Div page with id=page - main container-->
            <h1><%= title %></h1>
            
            <form method="POST" action="/login" onsubmit="return validateForm();">
                <table>
                    <tr>
                        <td>
                            Nazwa użytkownika: 
                        </td>
                        <td>
                            <input tabindex="100" type="email" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hasło: 
                        </td>
                        <td>
                            <input tabindex="100" type="password" name="password">
                        </td>
                    </tr>
                </table>
                <p>* - opcjonalne</p>
                <br>
                <input type="submit" tabindex="100" value="Wyślij">
            </form>

        </div>
        <% include header.ejs %>      <!--Include header (top menu logo etc)-->
        <% include footer.ejs %>      <!--Include footer-->
    </body>
</html>
