

<!DOCTYPE html>
<html>
    <% include head.ejs %>      <!--Include head section (same for all pages)-->
    <!--Javascripts includes-->
    <script src='/javascripts/alert.js' type='text/javascript' ></script>

    <body>
        <div id="alerts"></div>
        <div id="page" class=page>      <!--Div page with id=page - main container-->
            <h1>Wszystkie drużyny</h1>
            <h3> Kliknij na nazwę drużyny aby zobaczyć rozgrywane przez nią mecze</h3>
            <table class="table">
                <th>nazwa drużyny</th>
                <th>nazwa rozgrywek</th>
                <% print.forEach(function (team) { %>
            <tr>
                <td><a href="<%= "/team_matches/" + team.id_druzyny %>" class="link"><%= team.nazwa_druzyny %></a></td>
                <td><a href="<%= "/about/league/" + team.liga %>" class="link"><%= team.liga %></a></td>
            </tr>
         <% }) %>
            </table>
        </div>
        <% include header.ejs %>      <!--Include header (top menu logo etc)-->
        <% include footer.ejs %>      <!--Include footer-->
    </body>
</html>




